/* 
	-------------------------------------------
	svg спрайт
	-------------------------------------------
*/
.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-brainstorm {
	font-size:(296.429/10)*1rem;
	width:(296.429/296.429)*1em;
}
.icon-face {
	font-size:(24/10)*1rem;
	width:(29/24)*1em;
}
.icon-gamepad {
	font-size:(300/10)*1rem;
	width:(300/300)*1em;
}
.icon-placeholder {
	font-size:(299.997/10)*1rem;
	width:(299.997/299.997)*1em;
}
.icon-smartphone {
	font-size:(35/10)*1rem;
	width:(35/35)*1em;
}
.icon-youtube-4 {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
